{% load static %}
<footer>
  <div class="container">
    <div class="branding">
      <img src="{% static 'images/logo.jpg' %}" alt="Logo" />
      <h1>SHEA.254</h1>
      <p class="slogan">
        Suppliers of Raw Shea, Body butter, Cocoa Butter, Black Soap, Essential
        & Carrier Oils
      </p>
      <p class="location">
        Nairobi CBD <br />
        Sasa Mall, Moi Avenue <br />
        Shop G20
      </p>
    </div>

    <div class="shop">
        <h1>Shop</h1>
        <a href="">Essential Oils</a>
        <a href="">Body Oils</a>
        <a href="">Body Butters</a>
        <a href="">Lip Balms</a>
        <a href="">Hair Care Products</a>
    </div>

    <div class="links">
        <h1>Links</h1>
        <a href="">Shop</a>
        <a href="">Categories</a>
        <a href="">About Us</a>
    </div>

    <div class="enquiries">
      <h1>Contacts</h1>
      <div class="contacts">
          <p><i class="fas fa-phone-alt"></i> +254 711 894 267</p>
          <p><i class="far fa-envelope"></i> shea254@gmail.com</p>
      </div>
      <div class="socials">
            <a href="https://www.instagram.com/shea.254" target="_blank"
              ><i class="fab fa-instagram"></i
            ></a>
            <a
              href="https://www.tiktok.com/@shea.254?_t=8gJ9b2q8TP4&_r=1"
              target="_blank"
              ><i class="fab fa-tiktok"></i
            ></a>
      </div>
    </div>
  </div>

  <p class="copyright">Copyright &copy; 2023 | All rights reserved</p>
</footer>
