{% load static %}
<footer>
  <div class="container">
    <div class="branding">
      <img src="{% static 'images/logo.jpg' %}" alt="Logo" />
      <h1>SHEA.254</h1>
      <p class="slogan">
        Suppliers of Raw Shea, Body butter, Cocoa Butter, Black Soap, Essential
        & Carrier Oils
      </p>
      <p class="location">
        Nairobi CBD <br />
        Sasa Mall, Moi Avenue <br />
        Shop G20
      </p>
    </div>

    <div class="shop">
      <h1>Shop</h1>
      <ul>
        <li><a href="">Essential Oils</a></li>
        <li><a href="">Body Oils</a></li>
        <li><a href="">Body Butters</a></li>
        <li><a href="">Lip Balms</a></li>
        <li><a href="">Hair Care Products</a></li>
      </ul>
    </div>

    <div class="links">
      <h1>Links</h1>
      <ul>
        <li><a href="">Shop</a></li>
        <li><a href="">Categories</a></li>
        <li><a href="">About Us</a></li>
      </ul>
    </div>

    <div class="enquiries">
      <h1>Contacts</h1>
      <div class="contacts">
        <ul>
          <li><i class="fas fa-phone-alt"></i> +254 711 894 267</li>
          <li><i class="far fa-envelope"></i> shea254@gmail.com</li>
        </ul>
      </div>
      <div class="socials">
        <ul>
          <li>
            <a href="https://www.instagram.com/shea.254" target="_blank"
              ><i class="fab fa-instagram"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.tiktok.com/@shea.254?_t=8gJ9b2q8TP4&_r=1"
              target="_blank"
              ><i class="fab fa-tiktok"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <p class="copyright">Copyright &copy; 2023 | All rights reserved</p>
</footer>
