<nav>
  <div class="nav_container">
    <div class="brand">
      <a href="{% url 'core:index' %}">SHEA.254</a>
    </div>

    <div class="search">
        <form action="{% url 'core:search' %}" method="get">
            <input type="text" name="q" id="q" placeholder="Search">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>

    <ul>
      <li><a href="{% url 'core:shop' %}">Shop</a></li>
      <li><a href="{% url 'core:about' %}">About</a></li>
      <li><a href="{% url 'core:contact' %}">Contact</a></li>
      <li class="cart">
        <a href="{% url 'core:cart' %}">
            <i class="fas fa-shopping-bag"></i>
            <span class="total_cart_items">{{ request.session.cart_data_object|length }}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
