<div class="products_wrapper" id="filtered_products">
    {% for product in products %}
    <div class="product">
        <div class="image">
            <a href="{% url 'product:product_details' product.pid %}">
                <img src="{{ product.get_image_url }}" alt="Product" />
            </a>
        </div>

        <div class="text">
            <div class="details">
                <p class="category">{{ product.category.title }}</p>
                <p class="title">
                    <a href="{{ product.get_absolute_url }}">{{ product.title }} <span class="size">{{ product.size.title|default:'' }}</span></a>
                </p>
                <p class="price">Ksh. <span class="product_price_{{ product.id }}">{{ product.price }}</span></p>
            </div>

            <div class="cart center">
                <input type="hidden" class="product_quantity_{{ product.id }}" value="1" />
                <input type="hidden" class="product_id_{{ product.id }}" value="{{ product.id }}" />
                <input type="hidden" class="product_pid_{{ product.id }}" value="{{ product.pid }}" />
                <input type="hidden" class="product_title_{{ product.id }}" value="{{ product.title }}" />
                <input type="hidden" class="product_image_{{ product.id }}" value="{{ product.imageURL }}" />
                <button type="submit" class="add_to_cart_btn" data-index="{{ product.id }}">
                    <i class="fas fa-shopping-bag"></i>
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>