<div class="products_wrapper" id="filtered_products">
    {% for product in products %}
    <div class="product">
        <div class="image">
            <a href="{% url 'core:product_details' product.pid %}">
                <img src="{{ product.image.url }}" alt="Product" />
            </a>
        </div>

        <div class="text">
            <div class="details">
                <p class="title">
                    <a href="{% url 'core:product_details' product.pid %}">{{ product.title }}</a>
                </p>
                <p class="price">Ksh. {{ product.price }}</p>
            </div>

            <div class="cart center">
                <span class="add_to_cart">
                    <i class="fas fa-shopping-bag"></i>
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>