{% extends 'partials/base.html' %}
{% load static %}
{% block body_content %}
{% include 'partials/navbar.html' %}

<section class="About">
    <div class="container">
        <div class="hero container_fluid grid_center">
            <h1 class="center">Our Story</h1>
            <p class="center">We supply raw shea, body butter, cocoa
            butter, black soap, essential & carrier oils.</p>
        </div>

        <div class="story">
            <h1 class="center">Why Shea.254?</h1>
            <p>
                Founded in 2015, we have always delivered to our customers. Our first
                priority is always our customers thus the hear of everything we do.
                We’ve grown to be a trusted place to shop essential oils, body care,
                hair care and skin care products.
            </p>
            <p>
                We take pride in always going above and beyond for our customers. We are
                ready to answer your question about your order, help you select the
                right product, offer informational resources and more.
            </p>
        </div>

        <div class="mission">
            <h1 class="center">Our Mission</h1>
            <p>
                Our mission is to ensure your skin is healty, nourished and glowing by
                offerring good quality, affordable, clean, natural solutions with
                essential oils at the core. We supply raw shea, body butter, cocoa
                butter, black soap, essential & carrier oils.
            </p>
        </div>

        <div class="founder container_fluid">
            <h1>Founder</h1>
            <div class="text">
                <p>Shaq started Shea.254 in 2015 after being inspired to start his own business at Nairobi. Ever since, he has grown the business through social media to reach thousands of people.</p>
                <p>Shaq has also created employment to over 20 people including graphic designers and sales representative.</p>
            </div>

            <div class="image">
                <img src="{% static 'images/founder.jpg' %}" alt="Founder">
                <p>CEO</p>
                <p>Shaq</p>
            </div>
        </div>

        <div class="map_location">
            <div class="details">
                <p>Nairobi CBD <br />Sasa Mall, Moi Avenue <br />Shop G20</p>
                <p>Business Hours: 08:00 A.M - 05:00 P.M</p>
            </div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d249.30116336649832!2d36.82289723358633!3d-1.2826447627655024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f11115fa70ed9%3A0x6e15dff148906f82!2ssasa%20mall!5e0!3m2!1sen!2ske!4v1703092238613!5m2!1sen!2ske"
                width="400"
                height="300"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
        </div>
    </div>
</section>

{% include 'partials/footer.html' %}
{% endblock body_content %}
