{% extends 'partials/base.html' %} {% load static %} {% block body_content %}
{% include 'partials/navbar.html' %}

<main class="About">
  <section class="story">
    <div class="container">
      <h1>Why Shea.254?</h1>
      <p>Our mission is to offer affordable skincare products for your skin.</p>
      <p>
        We are a game changer when it comes to achieving healthy, nourished and
        glowing skin.
      </p>
    </div>
  </section>

  {% include 'partials/footer.html' %}
</main>
{% endblock body_content %}
