{% extends 'partials/base.html' %} {% load static %} {% block body_content %}
<main class="Homepage">
  {% include 'partials/navbar.html' %}

  <section class="Hero">
    <div class="container flex_center">
      <div class="text">
        <h1>Shea.254</h1>
        <p>
          Choosing suitable skincare products for your skin is a game changer to
          achieve healthy, nourished and glowing skin.
        </p>
        <div class="hero_btn">
          <a href="#">Start Shopping</a>
        </div>
      </div>

      <div class="image">
        <img src="{% static 'images/hero.jpg' %}" alt="Hero" />
      </div>
    </div>
  </section>

  <section class="Categories">
    <div class="container">
      <h1 class="center">Categories</h1>

      <div class="categories_wrapper">
        {% for category in categories %}
        <div class="category center">
          <div class="image">
            <img src="{{ category.image.url }}" alt="Category" />
          </div>
          <p>{{ category.title }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="Products">
    <div class="container">
      <h1 class="center">Most Popular</h1>

      <div class="products_wrapper">
        {% for product in products %}
        <div class="product">
          <div class="image">
            <img src="{{ product.image.url }}" alt="Product" />
          </div>

          <div class="text">
            <div class="details">
              <p class="title">{{ product.title }}</p>
              <p class="price">Ksh. {{ product.price }}</p>
            </div>
            <div class="cart center">
              <span class="add_to_cart">
                <i class="fas fa-shopping-bag"></i>
              </span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="Instagram">
    <div class="container">
        <h1 class="center">Instagram</h1>
        <p class="center">Skin Care Experts</p>

        <div class="posts">
            <div class="post">
                <img src="" alt="">
            </div>
        </div>
    </div>
  </section>

  {% include 'partials/footer.html' %}
</main>
{% endblock body_content %}
