{% extends 'partials/base.html' %}
{% load static %}
{% block body_content %}

<main class="Homepage">
  {% include 'partials/navbar.html' %}

  {% include 'partials/messages.html' %}
  <section class="Hero">
    <div class="container flex_center">
      <div class="text">
        <p>
          Game changing skincare products for healthy, nourished and glowing skin.
        </p>
        <div class="hero_btn">
          <a href="#">Start Shopping</a>
        </div>
      </div>

      <div class="image">
        <img src="{% static 'images/hero.jpg' %}" alt="Hero" />
      </div>
    </div>
  </section>

  <section class="Products">
    <div class="container">
      <h1 class="center">Most Popular</h1>

      {% include 'partials/products.html' %}
    </div>
  </section>

  {% include 'partials/footer.html' %}
</main>
{% include 'partials/javascripts.html' %}
{% endblock body_content %}
