{% extends 'partials/base.html' %}
{% load static %}

{% block body_content %}
    <section class="Order_success">
        {% include 'partials/navbar.html' %}
        <div class="container">
            <div class="message">
                
                <h1>Order Placed Successfully</h1>
                <p>We'll call you if you need to clarify the details about your order (#{{ order_id }}).</p>
                <p>Thank you for shopping with us!</p>
                <div class="action_btn">
                    <i class="fas fa-home"></i>
                    <a href="{% url 'core:index' %}">Back Home</a>
                </div>
            </div>
        </div>
    </section>
{% include 'partials/footer.html' %}
{% endblock body_content %}