{% extends 'partials/base.html' %}
{% load static %}
{% block body_content %}

<section class="Product_details">
    {% include 'partials/navbar.html' %}

    <div class="container details_container">
        <div class="image">
            <img src="{{ product.image.url }}" alt="{{ product.title }}" class="main_product_image">

            <div class="other_product_images">
                <img src="{{ product.image.url }}" alt="{{ product.title }}">
                {% for product_image in product_images %}
                    <img src="{{ product_image.images.url }}" alt="{{ product.title }}">
                {% endfor %}
            </div>
        </div>

        <div class="info">
            <h1>{{ product.title }}</h1>
            <p class="price">Ksh. <span class="product_price">{{ product.price }}</span></p>
            <div class="description">{{ product.description|truncatechars:150|safe }}</div>
            <div class="actions">
                <input type="number" name="product_quantity" id="product_quantity" min="1" value="1" />
                <input type="hidden" name="id" value="{{ product.id }}" class="product_id" />
                <input type="hidden" name="title" value="{{ product.title }}" class="product_title" />
                <button type="submit" id="add_to_cart_btn"><i class="fas fa-shopping-bag"></i> Add to Bag</button>
            </div>
            <div class="extra_details">
                <p>Category: {{ product.category.title }}</p>
            </div>
        </div>
    </div>

    <div class="container related_products">
        {% if products%}
            <h1>Related Products</h1>
        {% endif %}

        {% include 'partials/products.html' %}
    </div>
</section>

{% include 'partials/javascripts.html' %}
{% endblock body_content %}
