.Contact {
    padding: 2em 0;
    .container {
        @include grid(2);
        align-items: center;

        .contact_details {
            p {
                font-size: max(2em, 2vw);
            }
        }
    }

}

.Comment {
    @include flex_center;
    .container {
        width: 100%;
        .view_comment {
            h1 {
                background: #000;
                color: #fff;
                border-radius: 8px 8px 0 0;
                padding: 4px 8px;
                display: grid;
                justify-content: center;
                text-align: center;
        
                span {
                    font-size: 0.65em;
                    font-weight: 500;
                    margin: 0 0 0.2em;
                    &:first-of-type {
                        font-size: 0.8em;
                        font-weight: bold;
                        margin: 0 0 0.4em;
                    }
                }
            }
        
            p {
                margin: 1em 0;
                background: #e6e6e6;
                padding: 8px 10px;
                width: 60%;
                border-radius: 8px 8px 12px 8px;
            }
        }
    }
}

@media screen and (width >= 726px) {
    .Comment {
        .container {
            width: 50%;
        }
    }
}