.Contact {
    padding: 2em 0;
    .container {
        @include grid(2);
        align-items: center;

        .contact_details {
            p {
                font-size: max(2em, 2vw);
            }
        }
    }
}
