.delivery_locations {
    .body {
        table {
            tbody {
                tr {
                    .area {
                        display: flex;
                        align-items: start;
                        gap: 0.5em;

                        .area_extra_info {
                            border: 1px solid #ececec;
                            border-radius: 16px;
                            padding: 0.1em 0.4em;
                            font-size: 0.7em;
                        }
                    }
                }
            }
        }
    }
}
