nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 15px 5%;
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    box-shadow: 1px 1px 24px #adadad;
    z-index: 100;

    a {
        text-decoration: none;
        color: $dark_text;
    }

    .brand {
        a {
            span {
                font-size: 1.2em;
                font-weight: bold;
            }
        }
    }

    .nav_links {
        display: flex;
        gap: 1.5em;

        a {
            color: darken($faded, 20);
        }

        .active {
            color: $dark_text;
            font-weight: bold;
        }
    }

    .extra_links {
        .links {
            display: flex;
            align-items: center;
            gap: 1.5em;

            .shopping_cart {
                position: relative;
            
                span {
                    position: absolute;
                    top: -0.9em;
                    right: -0.8em;
                    width: 18px;
                    aspect-ratio: 1;
                    padding: 2px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 0.75em;
                    font-weight: bold;
                    background: green;
                    color: $light_text;
                    border-radius: 50%;
                }
            }

            .btn {
                border-radius: 32px;
                padding: 6px 16px;
            }

            .btn_logout {
                background: $danger;
            }

            .btn_login {
                border: 1px solid $faded;
            }
        }
    }

    .burger_menu {
        display: none;
    }
}

@media screen and (width <= 726px) {
    nav {
        display: grid;
        grid-template-columns: 2fr auto auto auto;

        .nav_links,
        .extra_links .btn_logout {
            display: none;
        }

        .extra_links {
            .links {
                gap: 1em;
            }
        }

        .burger_menu {
            margin-left: 0.5em;
            display: block;
            cursor: pointer;

            .burger_icon {
                width: 30px;
                height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                span {
                    width: 100%;
                    height: 3px;
                    background: $dark_text;
                }
            }
        }

        .show {
            position: absolute;
            top: 10vh;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 0.5em 1em;
            width: 60%;
            height: 60dvh;
            background: lighten($faded, 50);
        }

        .active_burger {
            span {
                transition: transform 0.3s ease, opacity 0.3s ease;
                &:nth-child(1) {
                    transform: rotate(-45deg) translate(-5px, 6px);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(45deg) translate(-5px, -6px);
                }
            }
        }
    }
}