.Products {
    .container {
        .card_wrapper {
            .card {
                .text {
                    .extra_details {
                        .in_stock,
                        .featured {
                            color: green;
                        }
                        .out_of_stock,
                        .not_featured {
                            color: red;
                        }
                    }

                    .title {
                        a {
                            font-size: 1.1em;
                        }
                    }

                    .price {
                        color: green;
                        font-weight: bold;
                        font-size: 1.15em;
                    }
                }
            }
        }
    }
}

.product_images {
    display: flex;
    gap: 0 1em;
    margin: 0.5em 0;

    .product_image {
        position: relative;

        img {
            width: 120px;
            height: 120px;
            object-fit: contain;
            object-position: center;
            background: rgb(221, 221, 221);
        }

        a {
            text-decoration: none;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            background: red;
            color: white;
            font-weight: bold;
            padding: 8px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
        }
    }
}