.Products {
    .container {
        .card_wrapper {
            .card {
                .text {
                    .extra_details {
                        .in_stock,
                        .featured {
                            color: green;
                        }
                        .out_of_stock,
                        .not_featured {
                            color: red;
                        }
                    }

                    .title {
                        a {
                            font-size: 1.1em;
                        }
                    }

                    .price {
                        color: green;
                        font-weight: bold;
                        font-size: 1.15em;
                    }
                }
            }
        }
    }
}