.Shop {
    .search {
        padding: 1.2em 0 0;
        display: flex;
        justify-content: center;

        form {
            position: relative;

            margin: auto;

            input,
            button {
                height: 35px;
            }

            input {
                border-radius: 32px;
                margin: 0;
            }

            button {
                position: absolute;
                right: 0;
                border-radius: 0 32px 32px 0;
                padding: 0.5em 0.7em;
                cursor: pointer;
            }
        }
    }
}

@media screen and (width >= 726px) {
    .Shop {
        .search {
            form {
                width: 30%;
            }
        }
    }
}
