* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, Roboto, sans-serif, Arial, "Helvetica Neue";
}

.container {
  padding: 10px 5%;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 0.4em 0.6em;
  font-size: 1em;
  border: 1px solid grey;
  border-radius: 4px;
  margin: 0.3em 0 0;
}
form button {
  padding: 10px 32px;
  font-weight: bold;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.custom_form h1 {
  font-size: 1.1em;
  text-align: center;
  margin: 0 0 0.5em;
  padding: 0.5em 0;
  background: #000;
  color: #fff;
  border-radius: 6px 6px 0 0;
}
.custom_form form .input_group {
  padding: 0.3em 0;
  width: 100%;
  margin: 0 0 0.3em;
}
.custom_form form .input_group label {
  font-weight: 500;
  font-size: 0.95em;
}
.custom_form form .input_group .custom_radio_buttons {
  display: flex;
}
.custom_form form .input_group .custom_radio_buttons label {
  padding: 0.3em 0.2em;
  position: relative;
  cursor: pointer;
  width: 30%;
  display: flex;
  align-items: center;
}
.custom_form form .input_group .custom_radio_buttons label .option_radio {
  position: relative;
  margin: 0 0.1em 0 0;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: auto;
  border: unset;
}
.custom_form form .input_group .custom_radio_buttons label .option_radio:before {
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transform: scale(0, 0);
  content: "";
  position: absolute;
  top: 0;
  left: 0.125rem;
  z-index: 1;
  width: 0.75rem;
  height: 0.75rem;
  background: #16a085;
  border-radius: 50%;
}
.custom_form form .input_group .custom_radio_buttons label .option_radio:checked:before {
  transform: scale(1, 1);
}
.custom_form form .input_group .custom_radio_buttons label .option_radio:after {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: -0.125rem;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border: 2px solid #d6d6d6;
  border-radius: 50%;
}
.custom_form p {
  margin: 0.8em 0 0.5em;
}

@media screen and (width >= 726px) {
  .custom_form .row_input_group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1em;
  }
  .custom_form .row_input_group_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 1em;
  }
}
nav,
.nav_container,
.nav_container a,
.nav_container ul {
  display: flex;
  align-items: center;
}

nav {
  background: transparent;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: 10vh;
  box-shadow: 4px 4px 8px #000;
  position: sticky;
  top: 0;
  padding: 0.5em 3%;
  z-index: 100;
}
nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
nav .nav_container {
  width: 100%;
  justify-content: space-between;
}
nav .nav_container a {
  gap: 0 0.3em;
}
nav .nav_container a img {
  border-radius: 50%;
}
nav .nav_container h1 {
  font-size: 1.2em;
}
nav .nav_container ul {
  list-style: none;
  gap: 0 1em;
}
nav .nav_container ul .cart {
  position: relative;
}
nav .nav_container ul .cart span {
  width: 16px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -10px;
  background: green;
  color: #fff;
  border-radius: 50%;
  padding: 2px;
  font-weight: bold;
  font-size: 0.75em;
}
nav .nav_container ul .nav_authentication {
  display: flex;
  gap: 1em;
}
nav .nav_container ul .nav_authentication a {
  background: #000;
  color: #fff;
  padding: 8px 16px;
  border-radius: 32px;
}
nav .nav_container ul .nav_authentication .profile {
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 50%;
}
nav .nav_container ul .nav_authentication form button {
  padding: 8px 16px;
  background: red;
  border-radius: 32px;
  cursor: pointer;
}
nav .nav_container ul .nav_authentication ul {
  display: none;
}
nav .nav_container .burger_menu {
  display: none;
}

@media screen and (width <= 726px) {
  nav {
    position: relative;
    position: sticky;
    top: 0;
  }
  nav .burger_menu {
    display: block !important;
    cursor: pointer;
  }
  nav .burger_menu .burger_icon {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  nav .burger_menu .burger_icon span {
    width: 100%;
    height: 3px;
    background: #000;
  }
  nav .nav_links {
    display: none;
  }
  nav .nav_links ul {
    display: none;
    width: 60%;
    height: 50vh;
    background: #fff;
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.5em 1em;
    gap: 2em 0;
    top: 10vh;
    right: 0.1em;
  }
  nav .nav_links ul li {
    width: 80%;
    margin: auto;
  }
  nav .nav_links ul .cart span {
    position: unset;
  }
  nav .show {
    display: block;
  }
  nav .show ul {
    display: flex;
  }
  nav .active_burger span {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  nav .active_burger span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  nav .active_burger span:nth-child(2) {
    opacity: 0;
  }
  nav .active_burger span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
footer {
  background: #000;
  color: #fff;
}
footer .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
@media screen and (width >= 726px) {
  footer .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
footer .container div:not(:first-of-type) h1 {
  font-size: max(1.2em, 1.2vw);
  margin: 0 0 0.7em;
}
footer .container a {
  text-decoration: none;
  color: #fff;
}
footer .container p,
footer .container .links ul li {
  margin: 0 0 0.5em;
}
footer .container ul {
  list-style: none;
}
footer .container .contacts .socials {
  margin: 1em 0 0;
}
footer .container .contacts .socials a {
  margin: 0 1em 0 0;
  font-size: 1.2em;
}
footer .container .contacts .socials a img {
  width: 20px;
}
footer .copyright {
  border-top: 1px solid rgb(161, 161, 161);
  padding: 1em;
  text-align: center;
}

@media screen and (width >= 726px) {
  footer .container {
    justify-items: center;
  }
}
.alert {
  padding: 1em;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 10vh;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  z-index: 10;
}

.alert-danger {
  background: rgb(235, 4, 4);
}

.alert-success {
  background: rgb(2, 168, 29);
}

.alert-warning {
  background: rgb(194, 128, 5);
}

.inline_alert {
  margin: 0.1em 0 0;
  font-weight: bold;
  color: rgb(235, 4, 4);
}

.inline_alert_success {
  padding: 0.5em;
  margin: 0.5em 0;
  color: rgb(2, 168, 29);
}

.Homepage section {
  margin: 0 0 5em;
}
.Homepage .Hero .categories .category {
  padding: 4px 15px;
  transition: all 0.3s ease-in-out;
}
.Homepage .Hero .categories .category:hover {
  margin-left: 3px;
}
.Homepage .Hero .categories .category a {
  text-decoration: none;
}
.Homepage .Hero .categories .category a h1 {
  font-size: 2em;
  text-transform: uppercase;
}
.Homepage .Hero .categories .category:nth-of-type(1) {
  background: #050608;
}
.Homepage .Hero .categories .category:nth-of-type(1) a {
  color: #ffffff;
}
.Homepage .Hero .categories .category:nth-of-type(2) {
  background: #999999;
}
.Homepage .Hero .categories .category:nth-of-type(2) a {
  color: #000000;
}
.Homepage .Hero .categories .category:nth-of-type(3) {
  background: #f0e416;
}
.Homepage .Hero .categories .category:nth-of-type(3) a {
  color: #2c3233;
}
.Homepage .Hero .categories .category:nth-of-type(4) {
  background: #57c6d9;
}
.Homepage .Hero .categories .category:nth-of-type(4) a {
  color: #000;
}
.Homepage .Hero .categories .category:nth-of-type(5) {
  background: #cb3c96;
}
.Homepage .Hero .categories .category:nth-of-type(5) a {
  color: #fff;
}
.Homepage .Hero .categories .category:nth-of-type(6) {
  background: #91c640;
}
.Homepage .Hero .categories .category:nth-of-type(6) a {
  color: #000;
}
.Homepage .Hero .categories .category:nth-of-type(7) {
  background: #a93f16;
}
.Homepage .Hero .categories .category:nth-of-type(7) a {
  color: #fff;
}
.Homepage .Hero .categories .category:nth-of-type(8) {
  background: #00b17b;
}
.Homepage .Hero .categories .category:nth-of-type(8) a {
  color: #fff;
}
.Homepage .Hero .hero_text {
  height: 40vh;
  position: relative;
}
.Homepage .Hero .hero_text:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.4), rgba(225, 225, 225, 0.05));
  z-index: 0; /* Ensure the pseudo-element is behind other content */
}
.Homepage .Hero .hero_text .slideshow {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.Homepage .Hero .hero_text .slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.Homepage .Hero .hero_text .slideshow img:nth-of-type(6), .Homepage .Hero .hero_text .slideshow img:nth-of-type(7), .Homepage .Hero .hero_text .slideshow img:nth-of-type(8) {
  -o-object-fit: cover;
     object-fit: cover;
}
.Homepage .Hero .hero_text .slideshow .active {
  opacity: 1;
  transform: scale(1.1);
}
.Homepage .Hero .hero_text .brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}
.Homepage .Hero .hero_text .brand .image {
  height: 100%;
  width: 50%;
  margin: auto;
}
.Homepage .Hero .hero_text .brand .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  animation: rotate 35s linear infinite;
}
.Homepage .Hero .hero_text .brand h1,
.Homepage .Hero .hero_text .brand p {
  color: #fff;
}
.Homepage .Hero .hero_text .brand h1 {
  font-size: 3.3em;
  text-transform: uppercase;
}
.Homepage .Hero .hero_text .brand p {
  font-size: 1.5em;
}
.Homepage .Products .header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.Homepage .Products .header h1 {
  text-transform: uppercase;
}
.Homepage .Products .header a {
  color: #000;
  font-weight: bold;
}

@media screen and (width >= 726px) {
  .Homepage .Hero {
    display: grid;
    grid-template-columns: 15% auto;
    gap: 0.1em;
    height: 89.5vh;
  }
  .Homepage .Hero .hero_text,
  .Homepage .Hero .categories {
    height: 100%;
  }
  .Homepage .Hero .categories {
    display: grid;
    gap: 0.1em;
  }
  .Homepage .Hero .categories .category {
    display: grid;
    align-items: center;
  }
  .Homepage .Hero .categories .category a h1 {
    font-size: 1.5em;
  }
  .Homepage .Hero .hero_text .brand .image {
    height: 110px;
    margin: 0 auto 0.3em;
  }
  .Homepage .Hero .hero_text .brand h1 {
    font-size: 5.6em;
  }
  .Homepage .Hero .hero_text .brand p {
    font-size: 1.8em;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.Shop .search {
  padding: 1.2em 0 0;
  display: flex;
  justify-content: center;
}
.Shop .search form {
  position: relative;
  margin: auto;
}
.Shop .search form input,
.Shop .search form button {
  height: 35px;
}
.Shop .search form input {
  border-radius: 32px;
  margin: 0;
}
.Shop .search form button {
  position: absolute;
  right: 0;
  border-radius: 0 32px 32px 0;
  padding: 0.5em 0.7em;
  cursor: pointer;
}

@media screen and (width >= 726px) {
  .Shop .search form {
    width: 30%;
  }
}
.Authentication {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Authentication .container .header {
  text-align: center;
  margin: 0 0 1em;
}
.Authentication .container .header img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.profile_update {
  background: #f5f5f5;
}
.profile_update .page_header,
.profile_update .section {
  background: #fff;
}
.profile_update .page_header {
  margin: 0 0 1em;
  padding: 1.5em 5%;
}
.profile_update h1,
.profile_update h2 {
  font-size: 1.2em;
}
.profile_update h2 {
  margin: 0 0 0.3em;
}
.profile_update .section {
  padding: 1.4em 3%;
  border-radius: 8px;
  margin: 0 auto 1em;
}
.profile_update .section .header {
  margin: 0 0 1em;
}
.profile_update .section .body .custom_form {
  width: 50%;
}

@media screen and (width >= 726px) {
  .Authentication .login,
  .Authentication .verify_email,
  .Authentication .forgot_password {
    width: 40%;
  }
  .Authentication .signup {
    width: 50%;
  }
  .profile_update .section {
    width: 95%;
  }
}
.Admin aside {
  position: fixed;
  border-right: 1px solid grey;
  width: 20%;
  height: 100%;
  padding: 4px 8px;
  text-align: center;
}
.Admin aside i {
  font-size: 1.5em;
}
.Admin aside a {
  text-decoration: none;
  color: #000;
}
.Admin aside .branding h1,
.Admin aside .footer .text {
  display: none;
}
@media screen and (width >= 726px) {
  .Admin aside .branding h1,
  .Admin aside .footer .text {
    display: unset;
  }
}
.Admin aside .branding a img,
.Admin aside .footer .profile img {
  border-radius: 50%;
}
.Admin aside .nav_links {
  margin: 0.8em 0 0;
}
.Admin aside .nav_links ul {
  list-style: none;
}
.Admin aside .nav_links ul li {
  margin: 0 0 0.8em;
}
.Admin aside .nav_links ul li a {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}
.Admin aside .nav_links ul li a span {
  font-size: 0.8em;
}
.Admin aside .footer {
  position: absolute;
  bottom: 2em;
  width: 100%;
}
.Admin aside .footer .profile {
  margin: 0 0 1em;
}
.Admin aside .footer .profile img {
  border: 1px solid green;
  padding: 2px;
}
.Admin aside .footer form button {
  background: none;
  padding: unset;
}
.Admin aside .footer form button i {
  color: red;
}
.Admin .admin_content {
  margin-left: calc(20% + 0.5em);
}

@media screen and (width >= 726px) {
  .Admin aside {
    padding: 0.5em 0.8em;
    width: 15%;
    text-align: left;
  }
  .Admin aside i {
    font-size: 1em;
  }
  .Admin aside .branding {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  .Admin aside .branding h1 {
    font-size: 1.2em;
  }
  .Admin aside .nav_links {
    margin: 2em 0;
  }
  .Admin aside .nav_links ul li {
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 0 4px 4px;
  }
  .Admin aside .nav_links ul li a {
    display: grid;
    grid-template-columns: 25px auto;
  }
  .Admin aside .nav_links ul li a span {
    font-size: 1em;
    font-weight: bold;
  }
  .Admin aside .footer {
    left: 0;
  }
  .Admin aside .footer .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
  }
  .Admin aside .footer .profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .Admin aside .footer .logout {
    text-align: center;
  }
  .Admin aside .footer .logout form button {
    background: red;
    color: #fff;
    border-radius: 6px;
    padding: 8px 16px;
  }
  .Admin aside .footer .logout form button i {
    color: #fff;
  }
  .Admin .admin_content {
    margin-left: calc(15% + 0.5em);
  }
}/*# sourceMappingURL=styles.css.map */