* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.text-danger {
    color: red;
}
.text-success {
    color: green;
}

.bold {
    font-weight: bold;
}


.container {
    padding: 10px 5%;
}


.list_style_none {
    list-style: none;
}


.rounded {
    border-radius: 50%;
}
