.Homepage {
    section {
        margin: 0 0 5em;
    }
    .Hero {
        .container_fluid {
            @include grid(2);
            align-items: center;

            .categories {
                a {
                    text-decoration: none;

                    &:nth-of-type(1) {
                        background: #050608;
                        color: #ffffff;
                    }

                    &:nth-of-type(2) {
                        background: #999999;
                        color: #000000;
                    }

                    &:nth-of-type(3) {
                        background: #F0E416;
                        color: #2C3233;
                    }

                    &:nth-of-type(4) {
                        background: #57C6D9;
                        color: #ffffff;
                    }

                    &:nth-of-type(5) {
                        background: #CB3C96;
                        color: #fff;
                    }

                    &:nth-of-type(6) {
                        background: #91C640;
                        color: #2B323D;
                    }

                    .category {
                        padding: 12px 16px;
                        height: 100%;

                        h1 {
                            text-transform: uppercase;
                        }
                    }
                }

            }


        }
    }

    .Products {
        .header {
            @include flex_center;
            justify-content: space-between;

            h1 {
                text-transform: uppercase;
            }

            a {
                color: #000;
                font-weight: bold;
            }
        }
    }
}

@media screen and (width >= 726px) {
    .Homepage {
        .Hero {
            height: 90vh;

            .container_fluid {
                height: 100%;
                grid-template-columns: 15% auto;
                gap: 1em;
                align-items: start;
            }

            .categories,
            .hero_text {
                height: 100%;
            }

            .categories,
            .hero_text,
            .category {
                display: grid;
            }

            .categories {
                .category {
                    align-items: center;

                    h1 {
                        font-size: 2em;
                    }
                }
            }

            .hero_text {
                align-items: center;

                .brand {
                    h1 {
                        font-size: 3em!important;
                    }
                }

                .banner {
                    width: 50%!important;
                    h1 {
                        font-size: 5em;
                    }
                }

                .footer {
                    p {
                        font-size: 2em;
                    }
                }
            }
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}
