.Homepage {
    section {
        margin: 0 0 5em;
    }
    .Hero {
        height: 50vh;

        .container {
            @include grid(2);
            align-items: center;

            .text {
                img {
                    width: 150px;
                    aspect-ratio: 1;
                    animation: rotate 50s infinite linear;
                }
                h1 {
                    font-size: max(3em, 5vw);
                    text-transform: uppercase;
                }

                .hero_btns {
                    margin: 2em 0 3em;
                    display: flex;
                    gap: 2em;

                    a {
                        text-decoration: none;
                        box-shadow: 0px 0px 1px 1px #0000001a;
                        background: #000;
                        color: #fff;
                        font-weight: bold;
                        font-size: max(1em, 1em);
                        padding: 12px 32px;
                        border-radius: 32px;

                        &:hover {
                            animation: pulse 2s infinite linear;
                        }
                    }
                }
            }

            .hero_images {
                @include desktop_only;
            }
        }
    }

    .Products {
        .header {
            @include flex_center;
            justify-content: space-between;

            h1 {
                text-transform: uppercase;
            }

            a {
                color: #000;
                font-weight: bold;
            }
        }
    }
}

@media screen and (width >= 726px) {
    .Homepage {
        .Hero {
            height: 90vh;

            .text {
                img {
                    width: 100px !important;
                }
            }

            .hero_images {
                img {
                    height: 500px;
                    width: 100%;
                    object-fit: contain;
                    animation: fadeInOut 1s ease-in-out infinite;
                    opacity: 0;
                    display: none;
                }

                .visible {
                    display: block;
                    opacity: 1;
                    animation: none;
                }

                @keyframes fadeInOut {
                    0%,
                    100% {
                        opacity: 0;
                    }
                    50% {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}
