.Homepage {
    section {
        margin: 0 0 5em;
    }

    .Hero {
        .container_fluid {
            .categories {
                .category {
                    padding: 4px 15px;

                    a {
                        text-decoration: none;

                        h1 {
                            font-size: 2em;
                            text-transform: uppercase;
                        }
                    }

                    &:nth-of-type(1) {
                        background: #050608;
                        a {
                            color: #ffffff;
                        }
                    }

                    &:nth-of-type(2) {
                        background: #999999;
                        a {
                            color: #000000;
                        }
                    }

                    &:nth-of-type(3) {
                        background: #f0e416;
                        a {
                            color: #2c3233;
                        }
                    }

                    &:nth-of-type(4) {
                        background: #57c6d9;
                        a {
                            color: #ffffff;
                        }
                    }

                    &:nth-of-type(5) {
                        background: #cb3c96;
                        a {
                            color: #fff;
                        }
                    }

                    &:nth-of-type(6) {
                        background: #91c640;
                        a {
                            color: #2b323d;
                        }
                    }
                }
            }

            .hero_text {
                padding: 12px 0;
                text-align: center;
                background-image: linear-gradient(
                        120deg,
                        rgba(0, 0, 0, 0.7),
                        rgba(0, 0, 0, 0.65)
                    ),
                    url("../images/hero/hero5.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;

                div {
                    margin: 0 0 1em;
                }

                .image {
                    height: 70px;
                    width: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        filter: invert(100%);
                        animation: rotate 35s infinite linear;
                    }
                }

                .brand,
                .banner,
                .footer {
                    h1,
                    p {
                        text-transform: uppercase;
                        color: #fff;
                    }
                }

                .brand {
                    h1 {
                        font-size: 2em;
                    }

                    p {
                        font-size: 0.8em;
                    }
                }

                .banner {
                    border: 3px solid #fff;
                    width: 70%;
                    margin: 1em auto;
                    padding: 4px 0;
                }

                .footer {
                    p {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .Products {
        .header {
            @include flex_center;
            justify-content: space-between;

            h1 {
                text-transform: uppercase;
            }

            a {
                color: #000;
                font-weight: bold;
            }
        }
    }
}

@media screen and (width >= 726px) {
    .Homepage {
        .Hero {
            height: 90vh;

            .container_fluid,
            .categories,
            .hero_text {
                height: 100%;
            }

            .categories,
            .hero_text,
            .category {
                display: grid;
            }

            .container_fluid {
                display: grid;
                grid-template-columns: 15% auto;
                gap: 0.2em;

                .categories {
                    display: grid;

                    .category {
                        display: grid;
                        align-items: center;
                        a {
                            h1 {
                                font-size: 1.5em;
                            }
                        }
                    }
                }

                .hero_text {
                    align-items: center;

                    .brand {
                        h1 {
                            font-size: 3em !important;
                        }
                    }

                    .banner {
                        width: 50% !important;
                        h1 {
                            font-size: 5em;
                        }
                    }

                    .footer {
                        p {
                            font-size: 2em;
                        }
                    }
                }
            }
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}
