* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 10px 5%;
}

.list_style_none {
  list-style: none;
}

.rounded {
  border-radius: 50%;
}

nav {
  height: 10vh;
  position: sticky;
  top: 0;
  background: #fff;
  box-shadow: 2px 3px 6px black;
  padding: 1em 5%;
}
nav .nav_container,
nav .branding,
nav ul {
  display: flex;
  align-items: center;
}
nav .nav_container {
  justify-content: space-between;
}
nav .nav_container a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 1em;
}
nav .nav_container .branding {
  gap: 0 0.3em;
}
nav .nav_container .branding img {
  width: 35px;
  height: 35px;
}
nav .nav_container .branding h1 {
  font-size: 1.2em;
}
nav .nav_container ul {
  gap: 0 1em;
}
nav .nav_container ul .cart {
  position: relative;
}
nav .nav_container ul .cart span {
  width: 16px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -10px;
  background: green;
  color: #fff;
  border-radius: 50%;
  padding: 2px;
  font-weight: bold;
  font-size: 0.75em;
}
nav .nav_container ul .authentication {
  margin: 0 0 0 2em;
  display: none;
}
@media screen and (width >= 726px) {
  nav .nav_container ul .authentication {
    display: unset;
  }
}
nav .nav_container ul .authentication a {
  padding: 6px 12px;
  border-radius: 32px;
  background: #000;
  color: #fff;
}

footer {
  background: #000;
  color: #fff;
}
footer .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
@media screen and (width >= 726px) {
  footer .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
footer .container div:not(:first-of-type) h1 {
  font-size: max(1.5em, 1.5vw);
  margin: 0 0 0.7em;
}
footer .container a {
  text-decoration: none;
  color: #fff;
}
footer .container p,
footer .container .links ul li {
  margin: 0 0 0.5em;
}
footer .container .contacts .socials {
  margin: 1em 0 0;
}
footer .container .contacts .socials a {
  margin: 0 1em 0 0;
  font-size: 1.2em;
}
footer .copyright {
  border-top: 1px solid rgb(161, 161, 161);
  padding: 1em;
  text-align: center;
}

@media screen and (width >= 726px) {
  footer .container {
    justify-items: center;
  }
}
.products_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin: 1em 0 0;
}
@media screen and (width >= 726px) {
  .products_wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
.products_wrapper .product {
  box-shadow: 2px 2px 8px rgb(201, 201, 201);
}
.products_wrapper .product .image {
  height: 250px;
}
.products_wrapper .product .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.products_wrapper .product .text {
  padding: 1em;
  display: grid;
  grid-template-columns: auto 20%;
  gap: 0 1em;
}
.products_wrapper .product .text .product_details .extra {
  margin: 0 0 1em;
}
.products_wrapper .product .text .product_details .extra span {
  font-size: 0.7em;
  letter-spacing: 0.3px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 32px;
  padding: 2px 6px;
}
.products_wrapper .product .text .product_details .title {
  margin: 0.5em 0;
}
.products_wrapper .product .text .product_details .title a {
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
  font-weight: bold;
}
.products_wrapper .product .text .product_details .price_details {
  color: green;
  font-weight: bold;
  font-size: 1.1em;
}
.products_wrapper .product .text .cart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.products_wrapper .product .text .cart i {
  font-size: 2em;
}

.Homepage section {
  margin: 0 0 5em;
}
.Homepage .Hero {
  height: 50vh;
}
.Homepage .Hero .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  align-items: center;
}
@media screen and (width >= 726px) {
  .Homepage .Hero .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.Homepage .Hero .container .text img {
  width: 150px;
  aspect-ratio: 1;
}
.Homepage .Hero .container .text h1 {
  font-size: max(3em, 5vw);
  text-transform: uppercase;
}
.Homepage .Hero .container .text .hero_btn {
  margin: 2em 0;
}
.Homepage .Hero .container .text .hero_btn a {
  text-decoration: none;
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 1.3em;
  padding: 12px 32px;
  border-radius: 32px;
}
.Homepage .Hero .container .image {
  display: none;
}
@media screen and (width >= 726px) {
  .Homepage .Hero .container .image {
    display: unset;
  }
}
.Homepage .Products .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Homepage .Products .header h1 {
  text-transform: uppercase;
}
.Homepage .Products .header a {
  color: #000;
  font-weight: bold;
}

@media screen and (width >= 726px) {
  .Homepage .Hero {
    height: 90vh;
  }
  .Homepage .Hero .text img {
    width: 100px !important;
  }
  .Homepage .Hero .image img {
    height: 500px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.About section {
  margin: 0 0 5em;
}
.About .Story .container .section_heading {
  margin: 1em 0;
  text-transform: uppercase;
  text-align: center;
}
.About .Story .container .mission_statements {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
@media screen and (width >= 726px) {
  .About .Story .container .mission_statements {
    grid-template-columns: repeat(3, 1fr);
  }
}
.About .Story .container .mission_statements .statement {
  background: rgb(233, 233, 233);
  padding: 0.8em 1em;
  border-radius: 16px;
}
.About .Story .container .mission_statements .statement h1 {
  margin: 0 0 0.5em;
}
.About .Location .container iframe {
  width: 100%;
  background: linear-gradient(120deg, rgb(122, 114, 114), rgb(142, 142, 245));
}

@media screen and (width >= 726px) {
  .Location .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }
}/*# sourceMappingURL=styles.css.map */