* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.text-danger {
  color: red;
}

.text-success {
  color: green;
}

.bold {
  font-weight: bold;
}

.container {
  padding: 10px 5%;
}

.list_style_none {
  list-style: none;
}

.rounded {
  border-radius: 50%;
}

.icon {
  background: transparent;
  width: 20px;
  height: 20px;
}
.icon img {
  background: blue;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 0.4em 0.6em;
  font-size: 1em;
  border: 1px solid grey;
  border-radius: 4px;
}
form button {
  padding: 10px 32px;
  font-weight: bold;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  background: #000;
  color: #fff;
}

.custom_form h1 {
  font-size: 1.1em;
  text-align: center;
  margin: 0 0 0.5em;
  padding: 0.5em 0;
  background: #000;
  color: #fff;
  border-radius: 6px 6px 0 0;
}
.custom_form form .input_group {
  padding: 0.3em 0;
  width: 100%;
}
.custom_form form .input_group label {
  font-weight: 550;
}
.custom_form form .input_group .custom_radio_buttons {
  display: flex;
}
.custom_form form .input_group .custom_radio_buttons label {
  padding: 0.3em 0.2em;
  position: relative;
  cursor: pointer;
  width: 30%;
  display: flex;
  align-items: center;
}
.custom_form form .input_group .custom_radio_buttons label .option_radio {
  position: relative;
  margin: 0 0.1em 0 0;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: auto;
  border: unset;
}
.custom_form form .input_group .custom_radio_buttons label .option_radio:before {
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transform: scale(0, 0);
  content: "";
  position: absolute;
  top: 0;
  left: 0.125rem;
  z-index: 1;
  width: 0.75rem;
  height: 0.75rem;
  background: #16a085;
  border-radius: 50%;
}
.custom_form form .input_group .custom_radio_buttons label .option_radio:checked:before {
  transform: scale(1, 1);
}
.custom_form form .input_group .custom_radio_buttons label .option_radio:after {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: -0.125rem;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border: 2px solid #d6d6d6;
  border-radius: 50%;
}
.custom_form p {
  margin: 0.8em 0 0.5em;
}

.Auth {
  height: 100vh;
  display: flex;
  align-items: center;
}
.Auth .container {
  box-shadow: 2px 4px 8px black;
  width: 90%;
  padding: 1em 2em;
}

@media screen and (width >= 726px) {
  .custom_form .row_input_group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1em;
  }
  .custom_form .row_input_group_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 1em;
  }
  .Auth .Login {
    width: 35%;
  }
  .Auth .Signup {
    width: 60%;
  }
}
table {
  width: 100%;
}
table thead {
  background: #000;
  color: #fff;
}
table thead th {
  padding: 0.5em 0.2em;
  text-align: left;
}
table thead th:last-of-type {
  text-align: center;
}
table tbody td {
  padding: 0.5em 0.2em;
}
table tbody .actions {
  display: flex;
  justify-content: center;
  gap: 0 2em;
}
table tbody .actions .action i {
  font-size: 1em;
  font-weight: bold;
}
table tbody .actions .action .update {
  color: green;
}
table tbody .actions .action .delete {
  color: red;
}

nav,
.nav_container,
.nav_container a,
.nav_container ul {
  display: flex;
  align-items: center;
}

nav {
  background: #fff;
  height: 10vh;
  box-shadow: 4px 4px 8px #000;
  position: sticky;
  top: 0;
  padding: 0.5em 3%;
  z-index: 100;
}
nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
nav .nav_container {
  width: 100%;
  justify-content: space-between;
}
nav .nav_container a {
  gap: 0 0.3em;
}
nav .nav_container a img {
  border-radius: 50%;
}
nav .nav_container h1 {
  font-size: 1.2em;
}
nav .nav_container ul {
  list-style: none;
  gap: 0 1em;
}
nav .nav_container ul .cart {
  position: relative;
}
nav .nav_container ul .cart span {
  width: 16px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -10px;
  background: green;
  color: #fff;
  border-radius: 50%;
  padding: 2px;
  font-weight: bold;
  font-size: 0.75em;
}
nav .nav_container ul .nav_authentication {
  display: flex;
  gap: 1em;
}
nav .nav_container ul .nav_authentication a {
  background: #000;
  color: #fff;
  padding: 8px 16px;
  border-radius: 32px;
}
nav .nav_container ul .nav_authentication .profile {
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 50%;
}
nav .nav_container ul .nav_authentication form button {
  padding: 8px 16px;
  background: red;
  border-radius: 32px;
  cursor: pointer;
}
nav .nav_container ul .nav_authentication ul {
  display: none;
}
nav .nav_container .burger_menu {
  display: none;
}

@media screen and (width <= 726px) {
  nav {
    position: relative;
    position: sticky;
    top: 0;
  }
  nav .burger_menu {
    display: block !important;
    cursor: pointer;
  }
  nav .burger_menu .burger_icon {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  nav .burger_menu .burger_icon span {
    width: 100%;
    height: 3px;
    background: #000;
  }
  nav .nav_links {
    display: none;
  }
  nav .nav_links ul {
    display: none;
    width: 60%;
    height: 50vh;
    background: #fff;
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.5em 1em;
    gap: 2em 0;
    top: 10vh;
    right: 0.1em;
  }
  nav .nav_links ul li {
    width: 80%;
    margin: auto;
  }
  nav .nav_links ul .cart span {
    position: unset;
  }
  nav .show {
    display: block;
  }
  nav .show ul {
    display: flex;
  }
  nav .active_burger span {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  nav .active_burger span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  nav .active_burger span:nth-child(2) {
    opacity: 0;
  }
  nav .active_burger span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
.admin_sidebar {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 15%;
  border-right: 1px solid grey;
  padding: 0.5em 0;
}
.admin_sidebar .header {
  position: relative;
  text-align: center;
}
.admin_sidebar .header h1 {
  display: none;
}
@media screen and (width >= 726px) {
  .admin_sidebar .header h1 {
    display: unset;
  }
}
.admin_sidebar .header .toggle {
  display: none;
}
@media screen and (width >= 726px) {
  .admin_sidebar .header .toggle {
    display: unset;
  }
}
.admin_sidebar ul li {
  margin: 0 0 0.3em;
  padding: 0.7em 1em;
}
.admin_sidebar ul li a {
  text-decoration: none;
  color: #000;
}
.admin_sidebar ul li i {
  font-size: 1.4em;
  color: #000;
}
.admin_sidebar ul li .text {
  display: none;
}
@media screen and (width >= 726px) {
  .admin_sidebar ul li .text {
    display: unset;
  }
}
.admin_sidebar .profile {
  padding: 0;
  text-align: center;
}
.admin_sidebar .logout {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.admin_sidebar .logout form button {
  background: none;
  cursor: pointer;
}
.admin_sidebar .logout form button i {
  color: red;
  font-size: 1.5em;
}

@media screen and (width >= 726px) {
  .admin_sidebar .header,
  .admin_sidebar .profile {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .admin_sidebar .header {
    gap: 0 0.3em;
    margin: 0 0 1.5em;
  }
  .admin_sidebar .header h1 {
    font-size: 1.2em;
  }
  .admin_sidebar .header .toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #000;
    color: #fff;
  }
  .admin_sidebar ul {
    padding: 0 0.5em;
  }
  .admin_sidebar ul li {
    padding: 0.2em 0.3em;
  }
  .admin_sidebar ul li a {
    display: flex;
    align-items: center;
    gap: 0 0.4em;
    padding: 0.4em 0;
    transition: all 0.2s ease;
  }
  .admin_sidebar ul li a:hover {
    background: #f2f2f2;
    font-weight: bold;
  }
  .admin_sidebar ul li a i {
    font-size: 1em;
    width: 20px;
  }
  .admin_sidebar .profile {
    flex-direction: column;
    gap: 0.5em 0;
    margin: 1em 0 0;
  }
  .admin_sidebar .profile span a {
    padding: 0;
    font-size: 1em;
  }
  .admin_sidebar .profile span a:hover {
    background: none;
  }
  .admin_sidebar .logout {
    background: red;
    border-radius: 6px;
    margin: 0.5em auto;
  }
  .admin_sidebar .logout button {
    padding: 0.5em 1em;
  }
  .admin_sidebar .logout button i {
    color: #fff !important;
    font-size: 1.1em !important;
  }
  .close {
    width: 5%;
  }
  .close .header h1 {
    display: none;
  }
  .close .header .toggle {
    transform: translateY(-50%) rotate(0deg);
  }
  .close ul li {
    margin: 0 0 0.5em;
  }
  .close ul li a {
    text-decoration: none;
    color: #000;
  }
  .close ul li i {
    font-size: 1.4em;
    color: #000;
  }
  .close ul li .text {
    display: none;
  }
  .close .logout {
    background: unset;
  }
  .close .logout button {
    transition: all 0.2s ease;
  }
  .close .logout button i {
    color: red !important;
  }
  .close .logout button:hover {
    font-size: 1.4em;
    background: unset;
  }
}
footer {
  background: #000;
  color: #fff;
}
footer .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
@media screen and (width >= 726px) {
  footer .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
footer .container div:not(:first-of-type) h1 {
  font-size: max(1.2em, 1.2vw);
  margin: 0 0 0.7em;
}
footer .container a {
  text-decoration: none;
  color: #fff;
}
footer .container p,
footer .container .links ul li {
  margin: 0 0 0.5em;
}
footer .container .contacts .socials {
  margin: 1em 0 0;
}
footer .container .contacts .socials a {
  margin: 0 1em 0 0;
  font-size: 1.2em;
}
footer .container .contacts .socials a img {
  width: 20px;
}
footer .copyright {
  border-top: 1px solid rgb(161, 161, 161);
  padding: 1em;
  text-align: center;
}

@media screen and (width >= 726px) {
  footer .container {
    justify-items: center;
  }
}
.products_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin: 1em 0 0;
}
@media screen and (width >= 726px) {
  .products_wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
.products_wrapper .product {
  box-shadow: 2px 2px 8px rgb(201, 201, 201);
  position: relative;
}
.products_wrapper .product .image {
  height: 250px;
}
.products_wrapper .product .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.products_wrapper .product .text {
  padding: 1em;
  display: grid;
  grid-template-columns: auto 20%;
  gap: 0 1em;
}
.products_wrapper .product .text .product_details .extra {
  margin: 0 0 1em;
}
.products_wrapper .product .text .product_details .extra a {
  text-decoration: none;
  color: #000;
}
.products_wrapper .product .text .product_details .extra span {
  font-size: 0.7em;
  letter-spacing: 0.3px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 32px;
  padding: 2px 6px;
}
.products_wrapper .product .text .product_details .title {
  margin: 0.5em 0 0.5em;
  height: 35px;
}
.products_wrapper .product .text .product_details .title a {
  text-decoration: none;
  color: #000;
  font-size: 1.1em;
  font-weight: bold;
}
.products_wrapper .product .text .product_details .price_details {
  color: green;
  font-weight: bold;
  font-size: 1.1em;
}
.products_wrapper .product .text .product_details .price_details .discount_percentage {
  position: absolute;
  top: 0;
  right: 0;
  background: green;
  color: #fff;
  font-size: 0.8em;
  padding: 0.2em 0.6em;
  border-radius: 16px;
}
.products_wrapper .product .text .cart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.products_wrapper .product .text .cart button {
  background: none;
  color: #000;
  cursor: pointer;
}
.products_wrapper .product .text .cart button i {
  font-size: 2.4em;
}

.product_images {
  display: flex;
  gap: 0 1em;
  margin: 0.5em 0;
}
.product_images .product_image {
  position: relative;
}
.product_images .product_image img {
  width: 120px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  background: rgb(221, 221, 221);
}
.product_images .product_image a {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  color: white;
  font-weight: bold;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.Product_details .container {
  padding: 1em 5%;
}
.Product_details .container .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}
.Product_details .container .wrapper .images {
  height: 350px;
}
.Product_details .container .wrapper .images img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.Product_details .container .wrapper .images .other_images {
  margin: 0.5em 0;
}
.Product_details .container .wrapper .images .other_images img {
  height: 70px;
  width: 70px;
  cursor: pointer;
}
.Product_details .container .wrapper .details h1,
.Product_details .container .wrapper .details .price,
.Product_details .container .wrapper .details .action,
.Product_details .container .wrapper .details .description {
  margin: 0 0 1em;
}
.Product_details .container .wrapper .details h1 {
  font-size: 1.6em;
}
.Product_details .container .wrapper .details .price {
  color: green;
  font-size: 1.4em;
  font-weight: bold;
}
.Product_details .container .wrapper .details .description {
  margin: 2em 0 0;
}
.Product_details .container .wrapper .details .action button {
  border-radius: 32px;
  padding: 8px 12px;
}
.Product_details .container .wrapper .details .extras {
  margin: 4em 0;
}
.Product_details .container .wrapper .details .extras p {
  font-size: 0.8em;
  display: grid;
  grid-template-columns: 20% auto;
  margin: 0 0 0.5em;
}
.Product_details .container .wrapper .details .extras p span:last-of-type {
  font-weight: bold;
}
.Product_details .related_products {
  margin: 5em 0 0;
}

.Categorised_Products .hero {
  height: 18vh;
  background: rgb(240, 240, 240);
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em 0;
}
.Categorised_Products .hero .breadcrumb,
.Categorised_Products .hero h1 {
  text-transform: capitalize;
}
.Categorised_Products .hero .breadcrumb {
  font-weight: bold;
}
.Categorised_Products .hero .breadcrumb a {
  text-decoration: none;
  color: blue;
}
.Categorised_Products .category_list {
  display: flex;
  justify-content: center;
  gap: 0 1em;
  padding: 0.2em 0 0;
}
.Categorised_Products .category_list a {
  text-decoration: none;
  color: #000;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 32px;
  padding: 0.1em 0.4em;
  font-size: 0.8em;
}
.Categorised_Products .container {
  padding-top: 0;
}

.alert {
  padding: 1em;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 10vh;
  width: 30%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.alert-danger {
  background: rgb(235, 4, 4);
}

.alert-success {
  background: rgb(2, 168, 29);
}

.alert-warning {
  background: rgb(194, 128, 5);
}

.inline_alert {
  margin: 0.1em 0 0;
  font-weight: bold;
  color: rgb(235, 4, 4);
}

.inline_alert_success {
  padding: 0.5em;
  margin: 0.5em 0;
  color: rgb(2, 168, 29);
}

.Orders ul {
  list-style: none;
  margin: 1em 0;
}
.Orders ul li {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  border-bottom: 1px solid grey;
  padding: 0.5em;
}
.Orders ul li:first-child {
  border-top: 1px solid grey;
}
@media screen and (width >= 726px) {
  .Orders ul li {
    grid-template-columns: repeat(5, 1fr);
  }
}
.Orders .custom_form .order_details {
  padding: 0 0.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.Orders .custom_form .order_details p {
  display: grid;
  grid-template-columns: 30% auto;
}
.Orders .custom_form .order_details p span:first-of-type {
  font-weight: bold;
}
.Orders .custom_form .order_details ul li {
  grid-template-columns: 30% auto auto auto;
}
.Orders .custom_form form {
  margin: 2em 0;
}

.Order_success {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.Order_success .container {
  width: 95%;
  margin: auto;
  text-align: center;
  border-radius: 16px;
  background: #fafafa;
  box-shadow: 10px 10px 10px #cccccc, 0 0 0 #ffffff, 0 0 0 #cccccc inset, 2px 2px 2px #ffffff inset;
}
.Order_success .container h1 {
  margin: 0 0 0.5em;
}
.Order_success .container .actions {
  margin: 1em 0;
}
.Order_success .container .actions a {
  text-decoration: none;
  background: #000;
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 16px;
}
.Order_success .success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;
}
.Order_success .success-checkmark .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #4caf50;
}
.Order_success .success-checkmark .check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}
.Order_success .success-checkmark .check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}
.Order_success .success-checkmark .check-icon::before, .Order_success .success-checkmark .check-icon::after {
  content: "";
  height: 100px;
  position: absolute;
  background: #ffffff;
  transform: rotate(-45deg);
}
.Order_success .success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #4caf50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}
.Order_success .success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}
.Order_success .success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}
.Order_success .success-checkmark .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid rgba(76, 175, 80, 0.5);
}
.Order_success .success-checkmark .check-icon .icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #ffffff;
}
@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

@media screen and (width >= 726px) {
  .Order_success .container {
    width: 50%;
  }
}
.Homepage section {
  margin: 0 0 5em;
}
.Homepage .Hero {
  height: 50vh;
}
.Homepage .Hero .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  align-items: center;
}
@media screen and (width >= 726px) {
  .Homepage .Hero .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.Homepage .Hero .container .text img {
  width: 150px;
  aspect-ratio: 1;
  animation: rotate 50s infinite linear;
}
.Homepage .Hero .container .text h1 {
  font-size: max(3em, 5vw);
  text-transform: uppercase;
}
.Homepage .Hero .container .text .hero_btn {
  margin: 2em 0 3em;
}
.Homepage .Hero .container .text .hero_btn a {
  text-decoration: none;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1019607843);
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 1.3em;
  padding: 12px 32px;
  border-radius: 32px;
  animation: pulse 2s infinite linear;
}
.Homepage .Hero .container .image {
  display: none;
}
@media screen and (width >= 726px) {
  .Homepage .Hero .container .image {
    display: unset;
  }
}
.Homepage .Products .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Homepage .Products .header h1 {
  text-transform: uppercase;
}
.Homepage .Products .header a {
  color: #000;
  font-weight: bold;
}

@media screen and (width >= 726px) {
  .Homepage .Hero {
    height: 90vh;
  }
  .Homepage .Hero .text img {
    width: 100px !important;
  }
  .Homepage .Hero .image img {
    height: 500px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
.authentication {
  margin: 2em auto 0;
}
.authentication .header {
  text-align: center;
  margin: 0 0 1em;
}
.authentication .header img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

@media screen and (width >= 726px) {
  .login {
    width: 40%;
  }
  .signup {
    width: 50%;
  }
}
.About section {
  margin: 0 0 5em;
}
.About .Story .container .section_heading {
  margin: 1em 0;
  text-transform: uppercase;
  text-align: center;
}
.About .Story .container .mission_statements {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
@media screen and (width >= 726px) {
  .About .Story .container .mission_statements {
    grid-template-columns: repeat(3, 1fr);
  }
}
.About .Story .container .mission_statements .statement {
  background: rgb(233, 233, 233);
  padding: 0.8em 1em;
  border-radius: 16px;
}
.About .Story .container .mission_statements .statement h1 {
  margin: 0 0 0.5em;
}
.About .Location .container iframe {
  width: 100%;
  background: linear-gradient(120deg, rgb(122, 114, 114), rgb(142, 142, 245));
}

@media screen and (width >= 726px) {
  .Location .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }
}
.Contact {
  padding: 2em 0;
}
.Contact .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  align-items: center;
}
@media screen and (width >= 726px) {
  .Contact .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.Contact .container .contact_details p {
  font-size: max(2em, 2vw);
}

.Cart .container .header h1 {
  font-size: 1.4em;
  margin: 0 0 0.3em;
}
.Cart .container .body {
  display: grid;
  grid-template-columns: 70% auto;
  align-items: start;
  gap: 0 2em;
  margin: 1.5em 0;
}
.Cart .container .body ul li {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 1em;
  padding: 0.8em 0;
  border-bottom: 1px solid grey;
}
.Cart .container .body ul li:first-of-type {
  border-top: 1px solid grey;
}
.Cart .container .body ul li span {
  text-align: center;
}
.Cart .container .body ul li .title {
  text-align: left;
}
.Cart .container .body ul li .title a {
  text-decoration: none;
  color: #000;
}
.Cart .container .body ul li form button {
  cursor: pointer;
  padding: unset;
}
.Cart .container .body ul li .product_quantity form {
  display: grid;
  grid-template-columns: auto 20%;
  gap: 0 0.4em;
}
.Cart .container .body ul li .delete_from_cart form button {
  background: unset;
}
.Cart .container .body .summary {
  background: #f2f2f2;
  border-radius: 16px;
  padding: 0.5em 1em 1em;
}
.Cart .container .body .summary h1 {
  font-size: 1.4em;
  text-align: center;
  margin: 0 0 1.5em;
}
.Cart .container .body .summary p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  margin: 0.5em 0;
}
.Cart .container .body .summary p span:last-of-type {
  text-align: right;
  font-weight: bold;
}
.Cart .container .body .summary .total {
  margin: 2em 0 0;
  font-weight: bold;
  font-size: 1.2em;
}
.Cart .container .body .summary .action {
  margin: 2em 0 1.5em;
  background: #000;
  text-align: center;
  border-radius: 8px;
}
.Cart .container .body .summary .action a {
  text-decoration: none;
  color: #fff;
  font-weight: 550;
  display: block;
  padding: 12px 16px;
}

.Shop .search {
  padding: 1.2em 0 0;
  display: flex;
  justify-content: center;
}
.Shop .search form {
  position: relative;
  margin: auto;
}
.Shop .search form input,
.Shop .search form button {
  height: 35px;
}
.Shop .search form input {
  border-radius: 32px;
}
.Shop .search form button {
  position: absolute;
  right: 0;
  border-radius: 0 32px 32px 0;
  padding: 0.5em 0.7em;
  cursor: pointer;
}

@media screen and (width >= 726px) {
  .Shop .search form {
    width: 30%;
  }
}
.Admin {
  display: flex;
}
.Admin .Main {
  margin-left: 1%;
  width: 85%;
}
.Admin .Main .container {
  width: 100%;
  padding: 0.5em 3%;
}
.Admin .Main .container .related_pages_navbar {
  display: flex;
  gap: 0 0.3em;
  margin: 0 0 0.5em;
}
.Admin .Main .container .related_pages_navbar a {
  text-decoration: none;
  padding: 0.3em 0.6em;
  border-radius: 0 16px 0 0;
  background: #000;
  color: #fff;
  font-weight: bold;
}
.Admin .Main .container .header input {
  display: none;
}
@media screen and (width >= 726px) {
  .Admin .Main .container .header input {
    display: unset;
  }
}
.Admin .Main .container .header .header_btn {
  margin: 1em 0;
  border: none;
}
.Admin .Main .container .header .header_btn a {
  text-decoration: none;
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  padding: 8px 16px;
  border-radius: 6px;
}
.Admin .Main .container .body table {
  width: 100%;
}
.Admin .Main .container .body table thead {
  background: #000;
  color: #fff;
}
.Admin .Main .container .body table thead th {
  padding: 0.5em 0.2em;
  text-align: left;
}
.Admin .Main .container .body table thead th:last-of-type {
  text-align: center;
}
.Admin .Main .container .body table tbody td {
  padding: 0.5em 0.2em;
}
.Admin .Main .container .body table tbody .actions {
  display: flex;
  justify-content: center;
  gap: 0 2em;
}
.Admin .Main .container .body table tbody .actions .action i {
  font-size: 1em;
  font-weight: bold;
}
.Admin .Main .container .body table tbody .actions .action .update {
  color: green;
}
.Admin .Main .container .body table tbody .actions .action .delete {
  color: red;
}
.Admin .Main .container .body table tbody .actions .action form button {
  background: none;
  padding: 0;
  cursor: pointer;
}
.Admin .Main .container .users_form form .row_input_group {
  margin: 2em 0;
}
.Admin .Main .container .users_form p {
  display: grid;
  grid-template-columns: 15% auto;
  padding: 0 0.5em;
}
.Admin .Main .container .users_form p span:first-child {
  font-weight: bold;
}

@media screen and (width >= 726px) {
  .Admin .Main .container .header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  .Admin .Main .container .header input {
    padding: 0.5em 1em;
    border-radius: 32px;
  }
  .Admin .Main .container .header .header_btn {
    text-align: right;
    margin: unset;
  }
}
.admin_dashboard h1 {
  margin: 0 0 0.5em;
}
.admin_dashboard h2 {
  font-size: 1.2em;
}
.admin_dashboard h2 a {
  text-decoration: none;
  color: #000;
}
.admin_dashboard .statistics,
.admin_dashboard .analytics {
  margin: 0 0 4em;
}
.admin_dashboard .statistics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}
.admin_dashboard .statistics .static {
  display: grid;
  grid-template-columns: 15% auto;
  align-items: center;
  gap: 0 1.5em;
  background: #d5e0f8;
  padding: 0.5em 0.6em;
  border-radius: 12px;
}
.admin_dashboard .statistics .static .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #adc5f7;
  width: 20px;
  height: 20px;
  padding: 16px;
  border-radius: 50%;
}
.admin_dashboard .statistics .static .icon i {
  font-size: 1em;
}
.admin_dashboard .statistics .static .text p:first-of-type {
  font-size: 0.85em;
}
.admin_dashboard .statistics .static .text p:last-of-type {
  font-weight: bold;
  font-size: 1.1em;
}
.admin_dashboard .analytics {
  display: grid;
  gap: 1em;
}
.admin_dashboard .analytics .info ul li {
  margin: 0.5em 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid rgb(218, 218, 218);
  padding: 0.1em;
}
.admin_dashboard .analytics .info ul li:first-of-type {
  border-top: 1px solid rgb(218, 218, 218);
}
.admin_dashboard .analytics .info ul li span:nth-of-type(2) {
  font-weight: bold;
  text-align: right;
}
.admin_dashboard .analytics .info .sales_analytics li {
  gap: 0.5em;
}

@media screen and (width >= 726px) {
  .admin_dashboard .statistics {
    grid-template-columns: repeat(6, 1fr);
  }
  .admin_dashboard .analytics {
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  .admin_dashboard .charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  .admin_dashboard .charts .chart {
    height: 40vh;
  }
}
.delivery_locations .body table tbody tr .area {
  display: flex;
  align-items: start;
  gap: 0.5em;
}
.delivery_locations .body table tbody tr .area .area_extra_info {
  border: 1px solid #ececec;
  border-radius: 16px;
  padding: 0.1em 0.4em;
  font-size: 0.7em;
}/*# sourceMappingURL=styles.css.map */