.About {
  padding: 2em 0;

  .container {
    .map_location {
        margin: 1em 0;

        p {
            line-height: 1.5;
        }

        iframe {
            width: 100%;
        }
    }
  }
}

@media screen and (width >= $desktop_width) {
    .About {
        .container {
            .map_location {
                display: grid;
                grid-template-columns: 1fr 2fr;
                align-items: center;
            }
        }
    }
}
