.Cart {
  .container {
    padding: 1em $container_sides_padding;

    .hero {
      h1 {
        margin: 0 0 0.2em;
      }
    }

    .cart_items {
      display: grid;
      grid-template-columns: 75% auto;
      gap: 0 1em;
      justify-items: stretch;
      align-items: start;
      margin: 1em 0 0;

      .table {
        table {
          border-collapse: collapse;

          thead {
            background: #000;
            color: #fff;

            th {
              padding: 0.8em 0.8em;

              &:first-of-type {
                text-align: left;
              }
            }
          }

          tbody {
            td {
              padding: 0.4em 0.8em;
              text-align: center;
              border-bottom: 1px solid grey;
            }

            .product_details {
              display: flex;
              align-items: center;
              gap: 0 0.2em;

              img {
                width: 60px;
                height: 60px;
                object-fit: contain;
                object-position: center;
              }
            }

            .quantity {
              text-align: center;

              input {
                padding: 0.5em;
                font-size: 1em;
                width: 65px;
                height: 35px;
              }
            }

            .subtotal {
              color: green;
              font-weight: bold;
            }

            .action {
              button {
                border: none;
                background: none;

                i {
                  color: red;
                  font-size: 1.1em;
                }
              }
            }
          }
        }
      }

      .totals {
        background: rgb(230, 230, 230);
        padding: 1em 1em 1.5em;
        border-radius: 16px;

        p {
          display: grid;
          grid-template-columns: 1fr 1fr;
          margin: 0 0 2em;

          span:first-of-type {
            font-weight: bold;
          }

          span:last-of-type {
            color: green;
            font-weight: bold;
          }
        }

        .checkout_redirect {
          text-align: center;

          button {
            background: #000;
            color: #fff;
            font-weight: bold;
            border: none;
            padding: 12px 16px;
            width: 100%;
          }
        }
      }
    }
  }
}
