img {
  width: 200px;
}

.Homepage {
  .Hero {
    .container {
      height: 60vh;
      display: flex;
      align-items: center;

      .text {
        h1 {
          font-size: 4em;
        }

        .hero_btn {
          margin: 1.5em 0 0;

          a {
            font-weight: bold;
            background: #000;
            color: #fff;
            padding: 12px 24px;
            border-radius: 32px;
          }
        }
      }

      img {
        display: none;
      }
    }
  }

  .Categories,
  .Products {
    margin: 0 0 1em;

    .container {
      h1 {
        text-align: center;
        font-size: 1.5em;
        margin: 0 0 1em;
      }
    }
  }

  .Categories {
    .categories_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .category {
        text-align: center;
        margin: 0 0 1em;

        img {
          height: 150px;
          width: 150px;
          border-radius: 50%;
          object-fit: contain;
        }
      }
    }
  }

  .Products {
    .container {
      .products_wrapper {
        .product {
            width: 70%;
            margin: 0 auto 1em;
          text-align: center;

          img {
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 32px 32px 0 0;
          }

          .text {
            display: grid;
            grid-template-columns: 2fr 1fr;
            align-items: center;
            text-align: left;

            .details {
                .title {
                    font-size: 0.95em;
                }

                .price {
                    font-weight: bold;
                }
            }

            .cart {
                text-align: center;

                i {
                    font-size: 1.8em;
                }
            }
          }
        }
      }
    }
  }
}
