.alert {
    padding: 8px 15px;
    margin: 0.5em;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
}

.form_error {
    margin: 0 0 1px;
    color: red;
}

.alert-success {
    background: green;
    color: #fff;
}

.alert-warning {
    background: orange;
}

.alert-danger {
    background: red;
    color: #fff;
}