nav {
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 6px black;
  background: #fff;
  position: sticky;
  top: 0;
  padding: 0.5em 0;

  a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    color: #000;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search {
      width: 30%;
      form {
        $elements_dimensions: 35px;
        $elements_border_radius: 32px;
        display: flex;
        align-items: center;
        position: relative;

        input {
          border-radius: $elements_border_radius;
          height: $elements_dimensions;
        }

        button {
          width: $elements_dimensions;
          height: $elements_dimensions;
          position: absolute;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0 $elements_border_radius $elements_border_radius 0;
        }
      }
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      gap: 0 1.5em;

      li {
        a {
          text-decoration: none;
        }
      }
    }
  }
}
