.Shop {
  .hero {
    background: $theme_background;
    height: 20vh;

    .breadcrumb {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 0 0.5em;
      margin: 0 0 0.5em;

      li {
        &:not(:first-child) {
          &::before {
            content: " > ";
            font-weight: bold;
          }
        }
      }
    }

    h1 {
      font-size: max(2em, 3vw);
    }
  }

  .container {
    $sidenav_width: 14%;

    padding: 1em 0.5em;

    .sidenav {
      width: $sidenav_width;
      position: fixed;
      z-index: 1;
      padding: 0 0.5em;
      background: #fff;
      $border-color: #adadad;
      border: 1px solid $border-color;

      h1 {
        border-bottom: 1px solid $border-color;
        padding: 0.2em 0;
        text-transform: uppercase;
        font-size: 1.2em;
        letter-spacing: 0.25px;

        i {
          font-size: 0.8em;
        }
      }

      h2 {
        letter-spacing: 0.25px;
        font-size: 1em;
        margin: 1.2em 0 0.5em;
        text-transform: uppercase;
      }

      ul {
        list-style: none;

        li {
          label {
            text-transform: capitalize;
          }
        }
      }
    }

    .main_content {
      display: grid;
      gap: 0 1em;
      margin-left: calc($sidenav_width + 1.6em);

      .products {
        .products_wrapper {
          display: grid;
          gap: 1.5em;

          .product {
            @include product;
          }
        }
      }
    }
  }
}

.Product_details {
  .details_container {
    display: grid;
    grid-template-columns: 45% auto;
    gap: 1em 3em;
    padding: 1em $container_sides_padding;

    .image {
      text-align: center;

      .main_product_image {
        width: 400px;
        height: 400px;
        object-fit: contain;
        object-position: center;
        border: 1px solid rgb(223, 223, 223);
        border-radius: 8px;
      }

      .other_product_images {
        margin: 1em 0 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        gap: 0;

        img {
          width: 85px;
          height: 85px;
        }
      }
    }

    .info {
      display: grid;
      align-content: start;
      gap: 1em;

      .price {
        font-size: 1.5em;
        color: green;
        font-weight: bold;
      }

      .description {
        margin: 1em 0;
      }

      .actions {
        $elements_height: 40px;
        input {
          padding: 0.5em;
          font-size: 1em;
          width: 80px;
          height: $elements_height;
        }

        button {
          height: $elements_height;
          border: none;
          border-radius: 4px;
          padding: 12px 16px;
          font-size: 1em;
          background: green;
          color: white;
          font-weight: bold;

          &:hover {
            opacity: 0.9;
            cursor: pointer;
          }
        }
      }

      .extra_details {
        margin: 5em 0;

        p {
          font-size: 0.85em;
        }
      }
    }
  }
}

@media screen and (width >= $desktop_width) {
  .Shop {
    .container {
      .main_content {
        .products {
          .products_wrapper {
            grid-template-columns: repeat(4, 1fr);
          }
        }
      }
    }
  }
}
