.content {
    display: flex;
    background: blue;
    
    .custom_admin_dashboard {
    width: 100%;

    .statistics {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 0 1em;

        .statistic {
            padding: 0.5em 1em 1em;
            border-radius: 16px;
            background: #cecece;
            text-align: center;

            a {
                color: #000!important;

                p {
                    font-size: 1.2em;
                    font-weight: bold;
                    margin: unset;
                }
            }
        }
    }
}
}