// Dimensions and sizes
$desktop_width: 726px;
$container_sides_padding: 5%;


// Colors
$theme_background: hsl(31, 96%, 89%);


a {
  text-decoration: none;
  color: #000;
  font-size: 1em;
}

@import "scss_framework";
@import "navbar";
@import "homepage";
@import "about";
@import "contact";
@import "shop";
@import "footer";
