a {
  text-decoration: none;
  color: #000;
  font-size: 1em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

html {
  scroll-behavior: smooth;
}

.center {
  text-align: center;
}

.grid_center {
  display: grid;
  justify-items: center;
  align-content: center;
}

.flex_center {
  display: flex;
  align-items: center;
}

.container {
  padding: 0 5%;
}

.container_fluid {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: -1;
  padding: 0 6.2%;
}

form input,
form textarea {
  width: 100%;
  font-size: 1em;
  margin: 0.3em 0;
  padding: 0.5em 1em;
  border: 1px solid #969696;
  border-radius: 4px;
}
form button {
  background: #000;
  color: #fff;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  font-size: 1.1em;
  font-weight: bold;
}

@media screen and (width >= 726px) {
  .container_fluid {
    width: calc(100vw - 15px);
  }
}
nav {
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 6px black;
  background: #fff;
  position: sticky;
  top: 0;
  padding: 0.5em 5%;
}
nav a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1em;
  color: #000;
}
nav .nav_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav_container .search {
  width: 30%;
}
nav .nav_container .search form {
  display: flex;
  align-items: center;
  position: relative;
}
nav .nav_container .search form input {
  border-radius: 32px;
  height: 35px;
}
nav .nav_container .search form button {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 32px 32px 0;
}
nav .nav_container ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 0 1.5em;
}
nav .nav_container ul li a {
  text-decoration: none;
}
nav .nav_container ul .cart {
  position: relative;
}
nav .nav_container ul .cart i {
  font-size: 1.2em;
}
nav .nav_container ul .cart span {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
  font-weight: bold;
  position: absolute;
  right: -12px;
  top: -7px;
  background: green;
  color: #fff;
  padding: 8px;
  border-radius: 50%;
}

.Homepage section {
  padding: 2em 0;
}
.Homepage .Hero .container {
  height: 40vh;
  text-align: center;
}
.Homepage .Hero .container .text p {
  font-size: max(2em, 2vw);
}
.Homepage .Hero .container .text .hero_btn {
  margin: 2.5em 0 0;
}
.Homepage .Hero .container .text .hero_btn a {
  font-weight: bold;
  background: #000;
  color: #fff;
  padding: 12px 24px;
  border-radius: 32px;
}
.Homepage .Hero .container img {
  display: none;
}
.Homepage .Categories .container h1,
.Homepage .Products .container h1 {
  font-size: 1.5em;
  margin: 0 0 1em;
}
.Homepage .Categories .categories_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.Homepage .Categories .categories_wrapper .category img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.Homepage .Products .container .products_wrapper {
  display: grid;
  gap: 1em 0;
}
.Homepage .Products .container .products_wrapper .product {
  box-shadow: 1px 2px 6px rgb(117, 117, 117);
}
.Homepage .Products .container .products_wrapper .product .image {
  height: 250px;
}
.Homepage .Products .container .products_wrapper .product .image img {
  width: 100%;
  height: 100%;
  border-radius: 32px 32px 0 0;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.Homepage .Products .container .products_wrapper .product .text {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  text-align: left;
  padding: 0.5em;
}
.Homepage .Products .container .products_wrapper .product .text .details {
  padding: 1em 0;
}
.Homepage .Products .container .products_wrapper .product .text .details .price {
  font-weight: bold;
}
.Homepage .Products .container .products_wrapper .product .text .cart button {
  background: none;
  border: none;
  cursor: pointer;
}
.Homepage .Products .container .products_wrapper .product .text .cart button i {
  font-size: 2.2em;
}

@media screen and (width >= 726px) {
  .Homepage .Hero .container {
    height: 85vh;
    text-align: left;
  }
  .Homepage .Hero .container p {
    text-transform: uppercase;
    font-size: 3em !important;
    font-weight: bold;
  }
  .Homepage .Hero .container .hero_btn a {
    font-size: 1.2em;
  }
  .Homepage .Hero .container img {
    display: unset;
  }
  .Homepage .Categories .categories_wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
  .Homepage .Products .container .products_wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 1em 2em;
  }
  .Homepage .Products .container .products_wrapper .product img {
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
.About p {
  line-height: 1.2;
}
.About .container .hero {
  height: 20vh;
  background: hsl(31, 96%, 89%);
}
.About .container .hero h1 {
  font-size: max(2em, 2vw);
}
.About .container h1 {
  margin: 0.3em 0 0.4em;
}
.About .container .founder {
  margin: 0 0 1em;
  display: grid;
  grid-template-areas: "first" "second" "third";
}
.About .container .founder .image {
  grid-area: second;
  display: grid;
  gap: 0.4em 0;
  text-align: center;
  margin: 1em 0;
}
.About .container .founder .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.About .container .founder .image p:nth-of-type(2) {
  font-weight: bold;
  font-size: 1.2em;
}
.About .container .map_location {
  margin: 0.2em 0 1em;
}
.About .container .map_location iframe {
  width: 100%;
  background: linear-gradient(hsl(0, 50%, 0%), hsl(0, 10%, 0%));
}

@media screen and (width >= 726px) {
  .About .container div {
    margin: 2em 0;
  }
  .About .container .hero {
    height: 40vh;
    margin: unset;
  }
  .About .container .founder {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "first third" "second third";
    background: hsl(31, 96%, 89%);
    margin: 2em 0;
  }
  .About .container .founder h1 {
    grid-area: first;
    align-self: end;
  }
  .About .container .founder .text {
    grid-area: second;
  }
  .About .container .founder .image {
    grid-area: third;
  }
  .About .container .founder .image img {
    height: 300px;
  }
  .About .container .map_location {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }
}
.Contact {
  padding: 2em 0;
}
.Contact .container {
  display: grid;
  gap: 1em 0;
}

@media screen and (width >= 726px) {
  .Contact .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .Contact .container .contact_details p {
    font-size: 2.8em;
    margin: 0 0 1em;
  }
}
.Shop .hero {
  background: hsl(31, 96%, 89%);
  height: 20vh;
}
.Shop .hero .breadcrumb {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0 0.5em;
  margin: 0 0 0.5em;
}
.Shop .hero .breadcrumb li:not(:first-child)::before {
  content: " > ";
  font-weight: bold;
}
.Shop .hero h1 {
  font-size: max(2em, 3vw);
}
.Shop .container {
  padding: 1em 0.5em;
}
.Shop .container .sidenav {
  width: 14%;
  position: fixed;
  z-index: 1;
  padding: 0 0.5em;
  background: #fff;
  border: 1px solid #adadad;
}
.Shop .container .sidenav h1 {
  border-bottom: 1px solid #adadad;
  padding: 0.2em 0;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 0.25px;
}
.Shop .container .sidenav h1 i {
  font-size: 0.8em;
}
.Shop .container .sidenav h2 {
  letter-spacing: 0.25px;
  font-size: 1em;
  margin: 1.2em 0 0.5em;
  text-transform: uppercase;
}
.Shop .container .sidenav ul {
  list-style: none;
}
.Shop .container .sidenav ul li label {
  text-transform: capitalize;
}
.Shop .container .main_content {
  display: grid;
  gap: 0 1em;
  margin-left: calc(14% + 1.6em);
}
.Shop .container .main_content .products .products_wrapper {
  display: grid;
  gap: 1.5em;
}
.Shop .container .main_content .products .products_wrapper .product {
  box-shadow: 1px 2px 6px rgb(117, 117, 117);
}
.Shop .container .main_content .products .products_wrapper .product .image {
  height: 250px;
}
.Shop .container .main_content .products .products_wrapper .product .image img {
  width: 100%;
  height: 100%;
  border-radius: 32px 32px 0 0;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.Shop .container .main_content .products .products_wrapper .product .text {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  text-align: left;
  padding: 0.5em;
}
.Shop .container .main_content .products .products_wrapper .product .text .details {
  padding: 1em 0;
}
.Shop .container .main_content .products .products_wrapper .product .text .details .price {
  font-weight: bold;
}
.Shop .container .main_content .products .products_wrapper .product .text .cart button {
  background: none;
  border: none;
  cursor: pointer;
}
.Shop .container .main_content .products .products_wrapper .product .text .cart button i {
  font-size: 2.2em;
}

.Product_details .details_container,
.Product_details .related_products {
  padding: 1em 5%;
}
.Product_details .details_container {
  display: grid;
  grid-template-columns: 45% auto;
  gap: 1em 3em;
}
.Product_details .details_container .image {
  text-align: center;
}
.Product_details .details_container .image .main_product_image {
  width: 400px;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 8px;
}
.Product_details .details_container .image .other_product_images {
  margin: 1em 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 0;
}
.Product_details .details_container .image .other_product_images img {
  width: 85px;
  height: 85px;
}
.Product_details .details_container .info {
  display: grid;
  align-content: start;
  gap: 1em;
}
.Product_details .details_container .info .price {
  font-size: 1.5em;
  color: green;
  font-weight: bold;
}
.Product_details .details_container .info .description {
  margin: 1em 0;
}
.Product_details .details_container .info .actions input {
  padding: 0.5em;
  font-size: 1em;
  width: 80px;
  height: 40px;
}
.Product_details .details_container .info .actions button {
  height: 40px;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 1em;
  background: green;
  color: white;
  font-weight: bold;
}
.Product_details .details_container .info .actions button:hover {
  opacity: 0.9;
  cursor: pointer;
}
.Product_details .details_container .info .extra_details {
  margin: 5em 0;
}
.Product_details .details_container .info .extra_details p {
  font-size: 0.85em;
}
.Product_details .related_products h1 {
  margin: 0 0 1em;
}
.Product_details .related_products .products_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
}
.Product_details .related_products .products_wrapper .product {
  box-shadow: 1px 2px 6px rgb(117, 117, 117);
}
.Product_details .related_products .products_wrapper .product .image {
  height: 250px;
}
.Product_details .related_products .products_wrapper .product .image img {
  width: 100%;
  height: 100%;
  border-radius: 32px 32px 0 0;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.Product_details .related_products .products_wrapper .product .text {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  text-align: left;
  padding: 0.5em;
}
.Product_details .related_products .products_wrapper .product .text .details {
  padding: 1em 0;
}
.Product_details .related_products .products_wrapper .product .text .details .price {
  font-weight: bold;
}
.Product_details .related_products .products_wrapper .product .text .cart button {
  background: none;
  border: none;
  cursor: pointer;
}
.Product_details .related_products .products_wrapper .product .text .cart button i {
  font-size: 2.2em;
}

@media screen and (width >= 726px) {
  .Shop .container .main_content .products .products_wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
.Cart .container {
  padding: 1em 5%;
}
.Cart .container .hero h1 {
  margin: 0 0 0.2em;
}
.Cart .container .cart_items {
  display: grid;
  grid-template-columns: 75% auto;
  gap: 0 1em;
  justify-items: stretch;
  align-items: start;
  margin: 1em 0 0;
}
.Cart .container .cart_items .table table {
  border-collapse: collapse;
}
.Cart .container .cart_items .table table thead {
  background: #000;
  color: #fff;
}
.Cart .container .cart_items .table table thead th {
  padding: 0.8em 0.8em;
}
.Cart .container .cart_items .table table thead th:first-of-type {
  text-align: left;
}
.Cart .container .cart_items .table table tbody td {
  padding: 0.4em 0.8em;
  text-align: center;
  border-bottom: 1px solid grey;
}
.Cart .container .cart_items .table table tbody .product_details {
  display: flex;
  align-items: center;
  gap: 0 0.2em;
}
.Cart .container .cart_items .table table tbody .product_details img {
  width: 60px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.Cart .container .cart_items .table table tbody .quantity {
  text-align: center;
}
.Cart .container .cart_items .table table tbody .quantity input {
  padding: 0.5em;
  font-size: 1em;
  width: 65px;
  height: 35px;
}
.Cart .container .cart_items .table table tbody .subtotal {
  color: green;
  font-weight: bold;
}
.Cart .container .cart_items .table table tbody .action button {
  border: none;
  background: none;
  cursor: pointer;
}
.Cart .container .cart_items .table table tbody .action button i {
  color: red;
  font-size: 1.1em;
}
.Cart .container .cart_items .totals {
  background: rgb(230, 230, 230);
  padding: 1em 1em 1.5em;
  border-radius: 16px;
}
.Cart .container .cart_items .totals p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 0 2em;
}
.Cart .container .cart_items .totals p span:first-of-type {
  font-weight: bold;
}
.Cart .container .cart_items .totals p span:last-of-type {
  color: green;
  font-weight: bold;
}
.Cart .container .cart_items .totals .checkout_redirect {
  text-align: center;
}
.Cart .container .cart_items .totals .checkout_redirect button {
  background: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 12px 16px;
  width: 100%;
}

.alert {
  padding: 8px 15px;
  margin: 0.5em;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
}

.alert-success {
  background: green;
  color: #fff;
}

.alert-warning {
  background: orange;
}

.alert-danger {
  background: red;
  color: #fff;
}

footer {
  background: #000;
  color: #fff;
}
footer .container {
  display: grid;
  gap: 1em;
  padding: 1em 5%;
}
footer .container a {
  color: #fff;
}
footer .container .branding img {
  width: 80px;
  height: 80px;
}
footer .container .branding h1 {
  font-size: 1.5em;
}
footer .container .branding p {
  margin: 0.5em 0;
}
footer .container .shop,
footer .container .links,
footer .container .enquiries {
  display: grid;
  gap: 0.25em 0;
}
footer .container .shop h1,
footer .container .links h1,
footer .container .enquiries h1 {
  font-size: 1.2em;
}
footer .container .enquiries p {
  display: flex;
  gap: 0 0.5em;
}
footer .container .enquiries .socials {
  margin: 1em 0;
}
footer .container .enquiries .socials i {
  font-size: 1.5em;
  margin: 0 0.6em 0 0;
}
footer .copyright {
  padding: 0.5em 0;
  text-align: center;
  border-top: 1px solid #707070;
}

@media screen and (width >= 726px) {
  footer .container {
    grid-template-columns: 30% auto auto auto;
  }
  footer .container .shop,
  footer .container .links,
  footer .container .enquiries {
    grid-template-rows: auto;
    align-content: start;
  }
  footer .container .shop h1,
  footer .container .links h1,
  footer .container .enquiries h1 {
    font-size: 1.2em;
  }
}/*# sourceMappingURL=styles.css.map */