* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 1em;
}

.container {
  padding: 0 5%;
}

nav {
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 6px black;
  background: #fff;
  position: sticky;
  top: 0;
  padding: 1em 0;
}
nav a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1em;
  color: #000;
}
nav .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 0 1.5em;
}
nav .container ul li a {
  text-decoration: none;
}

.Homepage section {
  padding: 2em 0;
}
.Homepage .Hero .container {
  height: 40vh;
  display: flex;
  align-items: center;
  text-align: center;
}
.Homepage .Hero .container .text h1 {
  font-size: max(3em, 6vw);
  letter-spacing: 1px;
}
.Homepage .Hero .container .text p {
  font-size: max(1em, 1.5vw);
}
.Homepage .Hero .container .text .hero_btn {
  margin: 1.5em 0 0;
}
.Homepage .Hero .container .text .hero_btn a {
  font-weight: bold;
  background: #000;
  color: #fff;
  padding: 12px 24px;
  border-radius: 32px;
}
.Homepage .Hero .container img {
  display: none;
}
.Homepage .Categories .container h1,
.Homepage .Products .container h1 {
  text-align: center;
  font-size: 1.5em;
  margin: 0 0 1em;
}
.Homepage .Categories .categories_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.Homepage .Categories .categories_wrapper .category {
  text-align: center;
}
.Homepage .Categories .categories_wrapper .category img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.Homepage .Products .container .products_wrapper {
  display: grid;
  gap: 1em 0;
}
.Homepage .Products .container .products_wrapper .product img {
  width: 100%;
  border-radius: 32px 32px 0 0;
}
.Homepage .Products .container .products_wrapper .product .text {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  text-align: left;
}
.Homepage .Products .container .products_wrapper .product .text .details {
  padding: 1em 0;
}
.Homepage .Products .container .products_wrapper .product .text .details .price {
  font-weight: bold;
}
.Homepage .Products .container .products_wrapper .product .text .cart {
  text-align: center;
}
.Homepage .Products .container .products_wrapper .product .text .cart i {
  font-size: 2.2em;
}
.Homepage .Instagram h1,
.Homepage .Instagram p {
  text-align: center;
}

@media screen and (width >= 726px) {
  .Homepage .Hero .container {
    height: 85vh;
    text-align: left;
  }
  .Homepage .Hero .container img {
    display: unset;
  }
  .Homepage .Categories .categories_wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
  .Homepage .Products .container .products_wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 1em 2em;
  }
  .Homepage .Products .container .products_wrapper .product img {
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
.About section {
  padding: 2em 0;
}
.About h1 {
  margin: 0 0 0.5em;
}
.About p {
  margin: 0.4em 0;
}

footer {
  background: #000;
  color: #fff;
}
footer .container {
  display: grid;
  gap: 1em;
  padding: 1em 5%;
}
footer .container a {
  color: #fff;
}
footer .container .branding img {
  width: 80px;
  height: 80px;
}
footer .container .branding h1 {
  font-size: 1.5em;
}
footer .container .branding p {
  margin: 0.5em 0;
}
footer .container .shop,
footer .container .links,
footer .container .enquiries {
  display: grid;
  gap: 0.25em 0;
}
footer .container .shop h1,
footer .container .links h1,
footer .container .enquiries h1 {
  font-size: 1.2em;
}
footer .container .enquiries p {
  display: flex;
  gap: 0 0.5em;
}
footer .container .enquiries .socials {
  margin: 1em 0;
}
footer .container .enquiries .socials i {
  font-size: 1.5em;
  margin: 0 0.6em 0 0;
}
footer .copyright {
  padding: 0.5em 0;
  text-align: center;
  border-top: 1px solid #707070;
}

@media screen and (width >= 726px) {
  footer .container {
    grid-template-columns: 30% auto auto auto;
  }
  footer .container .shop,
  footer .container .links,
  footer .container .enquiries {
    grid-template-rows: auto;
    align-content: start;
  }
  footer .container .shop h1,
  footer .container .links h1,
  footer .container .enquiries h1 {
    font-size: 1.2em;
  }
}/*# sourceMappingURL=styles.css.map */