* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 1em;
}

.container {
  padding: 0 5%;
}

nav {
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 6px black;
  background: #fff;
  position: sticky;
  top: 0;
  padding: 1em 0;
}
nav a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1em;
  color: #000;
}
nav .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 0 1.5em;
}
nav .container ul li a {
  text-decoration: none;
}

img {
  width: 200px;
}

.Homepage .Hero .container {
  height: 60vh;
  display: flex;
  align-items: center;
}
.Homepage .Hero .container .text h1 {
  font-size: 4em;
}
.Homepage .Hero .container .text .hero_btn {
  margin: 1.5em 0 0;
}
.Homepage .Hero .container .text .hero_btn a {
  font-weight: bold;
  background: #000;
  color: #fff;
  padding: 12px 24px;
  border-radius: 32px;
}
.Homepage .Hero .container img {
  display: none;
}
.Homepage .Categories,
.Homepage .Products {
  margin: 0 0 1em;
}
.Homepage .Categories .container h1,
.Homepage .Products .container h1 {
  text-align: center;
  font-size: 1.5em;
  margin: 0 0 1em;
}
.Homepage .Categories .categories_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Homepage .Categories .categories_wrapper .category {
  text-align: center;
  margin: 0 0 1em;
}
.Homepage .Categories .categories_wrapper .category img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.Homepage .Products .container .products_wrapper .product {
  width: 70%;
  margin: 0 auto 1em;
  text-align: center;
}
.Homepage .Products .container .products_wrapper .product img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 32px 32px 0 0;
}
.Homepage .Products .container .products_wrapper .product .text {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  text-align: left;
}
.Homepage .Products .container .products_wrapper .product .text .details .title {
  font-size: 0.95em;
}
.Homepage .Products .container .products_wrapper .product .text .details .price {
  font-weight: bold;
}
.Homepage .Products .container .products_wrapper .product .text .cart {
  text-align: center;
}
.Homepage .Products .container .products_wrapper .product .text .cart i {
  font-size: 1.8em;
}

.About {
  text-align: center;
}
.About h1 {
  margin: 0 0 0.5em;
}
.About p {
  margin: 0.4em 0;
}
.About .story,
.About .services,
.About .socialize {
  margin: 3em 0;
}
.About .services .services_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em 1em;
}
.About .services .services_list .service {
  text-align: center;
}
.About .services .services_list .service img {
  height: 130px;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.About .socialize {
  text-align: center;
}
.About .socialize .socials {
  display: flex;
  gap: 0 1em;
  justify-content: center;
}
.About .socialize .socials span {
  display: flex;
  align-items: center;
  gap: 0 0.18em;
  padding: 8px 12px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 16px;
}
.About .socialize .socials span img {
  width: 20px;
  aspect-ratio: 1;
}
.About .socialize .socials span a {
  text-decoration: none;
  color: #000;
}

Footer {
  background: #000;
  color: #fff;
}
Footer .branding,
Footer .shop,
Footer .links,
Footer .enquiries {
  margin: 0 0 1.8em;
}
Footer .shop h1,
Footer .links h1,
Footer .enquiries h1 {
  font-size: 1em;
}
Footer .container {
  padding: 1em auto;
}
Footer .container a {
  color: #fff;
}
Footer .container ul {
  list-style: none;
}
Footer .container ul li {
  margin: 0 0 0.2em;
}
Footer .container .branding img {
  width: 80px;
  height: 80px;
}
Footer .container .branding h1 {
  font-size: 1.5em;
}
Footer .container .branding p {
  margin: 0.5em 0;
}
Footer .container .enquiries .socials {
  margin: 1em 0;
}
Footer .container .enquiries .socials ul {
  display: flex;
  gap: 0 2em;
}
Footer .container .enquiries .socials ul li i {
  font-size: 1.5em;
}
Footer .copyright {
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
  border-top: 1px solid #707070;
}/*# sourceMappingURL=styles.css.map */