// Dimensions and sizes
$desktop_width: 726px;
$container_sides_padding: 5%;

// Colors
$theme_background: hsl(31, 96%, 89%);

a {
  text-decoration: none;
  color: #000;
  font-size: 1em;
}

@mixin product {
  box-shadow: 1px 2px 6px rgb(117, 117, 117);
  .image {
    height: 250px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 32px 32px 0 0;
      object-fit: contain;
      object-position: center;
    }
  }

  .text {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    text-align: left;
    padding: 0.5em;

    .details {
      padding: 1em 0;

      .price {
        font-weight: bold;
      }
    }

    .cart {
      button {
        background: none;
        border: none;
        cursor: pointer;

        i {
          font-size: 2.2em;
        }
      }
    }
  }
}

@import "scss_framework";
@import "navbar";
@import "homepage";
@import "about";
@import "contact";
@import "shop";
@import "footer";
